huggingface_hub
mediapipe
numpy
opencv-python-headless
pandas
pillow
plotly
pyarrow
scikit-image
scikit-learn
scipy
tensorflow[and-cuda]
tf_keras_vis
mkdocs
mkdocstrings[python]
mkdocs-material
streamlit
pytest
pytest-cov
