huggingface_hub
mediapipe
numpy
opencv-python-headless
pandas
pillow
pyarrow
scikit-image
scikit-learn
scipy
tensorflow
tf_keras_vis
-e git+https://github.com/rixmape/biasx.git@1c4680f111d4ed34d2cc5c2571b0dc9e1397695c#egg=biasx
